header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 10px 60px;
    overflow: hidden;
    background: $bg-color;

    a{
      font-size: 13px;
      text-decoration: none;
      color: $text-color;
    }
    .signin{
      background: $button-color;
      border: none;
      border-radius: 3px;
      width: 55px;
      height: 25px;
      color: $text-color-three;
      font-size: 10px;
    }
}
